.leaflet-container {
  width: 93.5%;
  height: 100vh;
  margin-left: 100px;
}

.navigation {
  background: white;
  width: 6.5%;
  height: 100%;
  max-width: 125px;
  display: block;
  position: absolute;
  z-index: 8;
  left: 0;
}

.infoLogiciels {
  position: absolute;
  bottom: 1%;
  color: #009ead;
  text-align: center;
  background-color: #fff;
  width: 100%;
}

.imgcnr {
  padding-top: 50%;
  height: 80px;
}

h1 {
  color: #7c795d;
  font-family: serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  text-align: center;
  padding-bottom: 30%;
}

.animation-tempo {
  background-color: #f6f5f9;
  border: 2px solid;
}

p {
  text-align: center;
  margin-left: 4px;
}

.bloc-timer1 {
  margin-left: 25px;
}

.button-start-pause {
  margin-left: 8px;
}

.button-reset {
  margin-left: 20px;
}

.time-container {
  font-size: 18px;
  text-align: center;
}

.membre {
  font-size: 0.9em;
  font-weight: bold;
  color: #32cd32;
  margin: 15px;
  line-height: 40px;
}

.web_gis_OSCAR {
  font-size: 0.7em;
  font-weight: bold;
  color: black;
  margin: 5px;
  line-height: 20px;
}

.version {
  font-size: 0.7em;
  font-weight: bold;
  color: black;
  margin: 15px;
  line-height: 20px;
}

.img_uk_fr {
  margin-top: 4px;
  margin-left: 17px;
  vertical-align: baseline;
}

.date-picker {
  margin-left: 680px;
}

.app-bar {
  background-color: #1b1f21;
  padding: 15px 15px;
}

.app-bar-title {
  font-family: "Bangers", cursive;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  word-spacing: 6px;
}

.app-section {
  margin-top: 2rem;
}

.top-margin-small {
  margin-top: 2rem;
}

.card-selector {
  width: 42%;
}

.top-margin-small {
  margin-top: 2rem;
}
.chartP84600,
.chartPTGROLE,
.chartP84800 {
  display: block;
  box-sizing: border-box;
  height: 300px;
  width: 700px;
}

.angry-joe {
  color: #999;
}

.angry-joe:hover {
  color: crimson;
}

.ico-angry-joe {
  font-size: 5rem;
}

.popupP63800,
.popup78000,
.PTGROSLE,
.P91250,
.PTCORDON,
.popupPc11,
.popupPc12 {
  width: 745px;
}

.leaflet-popup-content-wrapper {
  background-color: #f8f9f9;
  padding: 0.5px 0px 20px;
}

.leaflet-control-layers {
  background-image: url("./img/imagerie.png");
}

.leaflet-control-layers-base {
  background-color: #f0f8ff;
}
